<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
    <head>
        <title>Skapa driftavbrott</title>
    </head>
    <body>
        <div layout:fragment="content" class="row">
            <div class="col-xs-8 col-md-8">
                <h3>
                    <a href="/list" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-list"></span> Driftavbrott</a>
                </h3>
                <h2>Skapa driftavbrott</h2>
                <form action="/create" th:object="${driftavbrott}" method="post">
                    <div class="form-group">
                        <label for="kanal">Kanal:</label>
                        <select class="form-control" id="kanal" th:field="*{kanal}">
                            <option th:each="kanal : ${kanaler}" th:value="${kanal.namn}" th:text="${kanal.text}">
                            </option>
                        </select>
                        <!--<input type="text" class="form-control" name="kanal" />-->
                        <div class="error" th:if="${#fields.hasErrors('kanal')}" th:errors="*{kanal}">Name Error</div>
                    </div>
                    <div class="form-group">
                        <label for="startdatum">Starttid</label>
                                <input type="date" class="form-control" id="startdatum" th:field="*{startDatum}" />
                                <input type="time" class="form-control" id="starttid" th:field="*{startTid}"/>
                    </div>
                    <div class="form-group">
                        <label for="slutdatum">Sluttid</label>
                        <input type="date" class="form-control" id="slutdatum" th:field="*{slutDatum}" />
                        <input type="time" class="form-control" id="sluttid" th:field="*{slutTid}"/>
                    </div>
                    <div class="form-group">
                        <label for="anledning">Anledning</label>
                        <select class="form-control" id="anledning" th:field="*{anledning}">
                            <option th:each="anledning : ${anledningar}" th:value="${anledning.namn}" th:text="${anledning.text}">
                            </option>
                        </select>
                        <div class="error" th:if="${#fields.hasErrors('anledning')}" th:errors="*{anledning}">Name Error</div>
                    </div>
                    <button type="submit" class="btn btn-success">Save</button>
                </form>
            </div>
        </div>
    </body>
</html>
