<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
    <head>
        <title>Uppdatera driftavbrott</title>
    </head>
    <body>
        <div layout:fragment="content" class="row">
            <div class="col-xs-8 col-md-8">
                <h3>
                    <a href="/list" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-list"></span> Driftavbrott</a>
                </h3>
                <h2>Uppdatera driftavbrott</h2>
                <form action="/update" th:object="${driftavbrott}" method="post">
                    <div class="form-group">
                        <label for="kanal">Kanal:</label>
                        <select class="form-control" id="kanal" name="kanal">
                            <option th:each="kanal : ${kanaler}" th:selected="${driftavbrott.kanal==kanal.namn}" th:value="${kanal.namn}" th:text="${kanal.text}">
                            </option>
                        </select>
                        <div class="error" th:if="${#fields.hasErrors('kanal')}" th:errors="*{kanal}">Name Error</div>
                    </div>
                    <div class="form-group">
                        <label for="start">Start</label>
                        <input type="text" class="form-control" name="start" th:value="${driftavbrott.start}" />
                        <div class="error" th:if="${#fields.hasErrors('start')}" th:errors="*{start}">Name Error</div>
                    </div>
                    <div class="form-group">
                        <label for="slut">Slut</label>
                        <input type="text" class="form-control" name="slut" th:value="${driftavbrott.slut}" />
                        <div class="error" th:if="${#fields.hasErrors('slut')}" th:errors="*{slut}">Name Error</div>
                    </div>
                    <div class="form-group">
                        <label for="anledning">Anledning</label>
                        <select class="form-control" id="anledning" name="anledning">
                            <option th:each="anledning : ${anledningar}" th:selected="${driftavbrott.anledning==anledning.namn}" th:value="${anledning.namn}" th:text="${anledning.text}">
                            </option>
                        </select>
                        <div class="error" th:if="${#fields.hasErrors('anledning')}" th:errors="*{anledning}">Name Error</div>
                    </div>
                    <input type="hidden" name="id" th:value="${driftavbrott.id}" />
                    <button type="submit" class="btn btn-success">Save</button>
                </form>
            </div>
        </div>
    </body>
</html>
