<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
    <head>
        <title>Uppdatera driftavbrott</title>
    </head>
    <body>
        <div layout:fragment="content" class="row">
            <div class="col-xs-8 col-md-8">
                <h3>
                    <a href="/list" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-list"></span> Driftavbrott</a>
                </h3>
                <h2>Uppdatera driftavbrott</h2>
                <form action="/update" th:object="${driftavbrott}" method="post">
                    <div class="form-group">
                        <label for="kanal">Kanal:</label>
                        <select class="form-control" id="kanal" name="kanal">
                            <option th:each="kanal : ${kanaler}" th:selected="${driftavbrott.kanal.id==kanal.id}" th:value="${kanal.id}" th:text="${kanal.text}">
                            </option>
                        </select>
                        <div class="error" th:if="${#fields.hasErrors('kanal')}" th:errors="*{kanal}">Name Error</div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="startdatum">Startdatum</label>
                            <input type="date" class="form-control" name="startDatum" id="startdatum" th:value="${driftavbrott.startDatum}" />

                        </div>
                        <div class="form-group col-md-6">
                            <label for="starttid">Starttid</label>
                            <input type="time" class="form-control" name="startTid" id="starttid" th:value="${driftavbrott.startTid}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="slutdatum">Startdatum</label>
                            <input type="date" class="form-control" name="slutDatum" id="slutdatum" th:value="${driftavbrott.slutDatum}" />

                        </div>
                        <div class="form-group col-md-6">
                            <label for="sluttid">Starttid</label>
                            <input type="time" class="form-control" name="slutTid" id="sluttid" th:value="${driftavbrott.slutTid}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="anledning">Anledning</label>
                        <select class="form-control" id="anledning" name="anledning">
                            <option th:each="anledning : ${anledningar}" th:selected="${driftavbrott.anledning.id==anledning.id}" th:value="${anledning.id}" th:text="${anledning.text}">
                            </option>
                        </select>
                        <div class="error" th:if="${#fields.hasErrors('anledning')}" th:errors="*{anledning}">Name Error</div>
                    </div>
                    <input type="hidden" name="id" th:value="${driftavbrott.id}" />
                    <button type="submit" class="btn btn-success">Save</button>
                </form>
            </div>
        </div>
    </body>
</html>
